.Header {
  font-size: 1.5em;
  box-shadow: 1px 1px 5px #707070;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.Header-Right{
  display: flex;
}

.Header-Right div{
  margin-left: 0.5em;
}

.Header a {
  color: black;
}
